.contact-form {
	position: relative;
	padding: 50px 50px;
	width: 60%;
	min-width: 650px;
	height: 50%;
	margin: auto;
	margin-bottom: 100px;
	background-color: #88b6b773;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-form .photo {
	width: 50%;
	padding-right: 10px 20px;
	margin-right: 30px;
	height: fit-content;
}
.contact-form .photo .square {
	background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(136, 182, 183, 1) 100%);
	width: 90%;
	padding-bottom: 90%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	margin-bottom: 30px;
	filter: drop-shadow(1px 1px 0.2rem rgba(0, 0, 0, 0.256));
}
.contact-form .photo .shape {
	position: absolute;
	border: 10px solid white;
	width: 20%;
	padding-bottom: 18%;
	margin-left: auto;
	border-radius: 0 50% 0 50%;
	transform: translate(55%, -95%);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2) inset;
}
.contact-form .info {
	display: flex;
	flex-direction: column;
	width: 95%;
	padding-left: 10px;
	font-weight: 500;
	color: var(--txt-color);
}
.contact-form .info h1 {
	color: var(--bleu);
	margin: 0;
	display: block;
	font-family: var(--title);
	font-weight: bold;
	font-size: 45px;

}
.contact-form .info h5 {
	font-family: var(--txt);
	font-weight: lighter;
	font-size: 18px;
	margin: 10px 0;
	padding-bottom: 20px;
}
.contact-form .info a {
	text-decoration: none;
	color: white;
	padding-top: 10px;
}

@media screen and (max-width: 576px) {
	.contact-form {
		flex-direction: column;
		align-items: center;
		min-width: 0;
	}
	.contact-form .photo {
		display: none;
	}
}

.appel {
	color: var(--bleu);
	max-width: 900px;
	padding: 0 70px;
	padding-bottom: 70px;
	margin: auto;
}

.appel > p {
	font-size: 20px;
	color: var(--txt-color);
}