.contact-form {
	position: relative;
	padding: 50px 50px;
	width: 60%;
	min-width: 650px;
	height: 50%;
	margin: auto;
	margin-bottom: 100px;
	background-color: #88b6b773;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-form .photo {
	width: 35%;
	padding-bottom: 35%;
	margin-right: 30px;
	background-image: url("./image/suzanne.jpg");
	background-size: cover;
	position: relative;
	filter: contrast(75%) brightness(120%) drop-shadow(1px 1px 0.2rem rgba(0, 0, 0, 0.256));
}
.contact-form .info {
	display: flex;
	flex-direction: column;
	width: 95%;
	padding-left: 10px;
	font-weight: 500;
	color: var(--txt-color);
}
.contact-form .info h1 {
	color: var(--bleu);
	margin: 0;
	display: block;
	font-family: var(--title);
	font-weight: bold;
	font-size: 45px;

}
.contact-form .info h5 {
	font-family: var(--txt);
	font-weight: lighter;
	font-size: 18px;
	margin: 10px 0;
	padding-bottom: 20px;
}
.contact-form .info a {
	text-decoration: none;
	color: white;
	padding-top: 10px;
	width: fit-content;
}

@media screen and (max-width: 576px) {
	.contact-form {
		flex-direction: column;
		align-items: center;
		min-width: 0;
		width: 80%;
	}
	.contact-form .photo {
		width: 100%;
		padding-bottom: 100%;
		margin: auto;
		margin-bottom: 20px;
	}
}

.appel {
	color: var(--bleu);
	max-width: 900px;
	padding: 0 70px;
	padding-bottom: 70px;
	margin: auto;
}

.appel > p {
	font-size: 20px;
	color: var(--txt-color);
}