*{box-sizing: border-box;}

:root {
  --bg: #f9f6f2;
  --light-green: #babdb2;
  --dark-green: #9ba59c;
  --lime: #C9E0B9;
  --mustard: #e2d9ba;
  --peach: #f5cdb3;
  --mocha: #edd8bd;
  --beige: #f7ebdb;
  --bleu: #88B6B7;
  --txt-color: #525252;
  --title: 'Playfair Display', serif;
  --txt: 'Montserrat', sans-serif;
}

html, body {
  background-color: var(--bg);
  width: 100%;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.nav {
  float: left;
  padding: 10px 20px;
  width: 100%;  
  top: 0;
  min-width: 700px;
  height: 90px;
  position: fixed;
  z-index: 5;
  background-color: var(--bg);
  box-shadow: 0 10px rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  .logo {
    margin-left: 50px;
    margin-right: 40px;
    padding: 0;

    img {                 
        height: 70px;
        margin: 0;
        padding: 0 20px;
        display: block;
    }
  }
  .menu a{
    padding: 10px 20px;
    text-decoration: none; 
    color: var(--txt);  
  }
  .menu {
      font-family: var(--txt);
      display: flex;
      justify-content: space-between;
      max-width: 70%;
      margin-top: 15px;
  }
  .menu .coeur {
    width: fit-content;
    padding: 10px 20px;
    font-size: 15px;
    margin-right: 80px;
  }
  .menu .icon {
    position: absolute;
    top: 10px;
    right: 80px;
    display: none;
    color: var(--dark-green);
    font-size: 20px;
    padding: 20px 20px;
    p{
      padding: 0;
      margin: 0;
    }
  }
}

.bios {
  background-color: var(--bg);
  width: fit-content;
  filter: drop-shadow(0 0 0.1rem #5252526a);
  margin: auto 0;
  padding: 10px 0;
  display: grid;
  position: absolute;
  top: 100px;
  visibility: hidden;
}

.bios.hover {
  visibility: visible;
  a:hover {
    color: var(--bleu);
  }
}

@media screen and (max-width: 992px) {
  .nav{
    height:auto;flex-direction: column;
    .menu {display: block;padding: 0;margin: 0;}
    .menu a {display: none;}
    .menu .icon {display: block;}
    .menu .coeur {
      position: absolute;
      margin-left: auto;
      margin-right: 0;
      margin-top: 25px;
      top: 0;
      right: 160px;
    }
    .menu.responsive a {
        display: block;
        float: none;
        padding: 10px 20px;
    }
    .menu.responsive .menu {
      margin-top: 60px;
      display: block;
    }
  }
  
}
@media screen and (max-width: 576px) {
  .nav {
    .menu .icon {
    margin-right: 55px;
    }
    .menu .coeur {
    margin-right: 20px;
    }
  }
  
}
.header {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 90px;
  background-color: lightgreen;
  z-index: 1;
  > .txt {
      position: absolute;
      bottom: 30px;
      left: 110px;
      z-index: 1;
      color: var(--txt-color);
      
      > h5 {
        font-size: 40px;
        font-family: var(--txt);
        font-weight: 200;
        font-style: italic;
        text-transform: uppercase;
        transform: translateY(150%);
      }
      > h1 {
        font-size: 75px;
        font-family: var(--title);
        font-weight: 400;
        text-transform: uppercase;
      }

  }
  
  //image dans le header
  > .img {              
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    background-image:
    linear-gradient(45deg, #f9f6f2, #f9f6f200),
    url('https://d3fd5j8wprxn3h.cloudfront.net/wp-content/uploads/2022/03/yae-710x400.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main {
  background-color: var(--bg);
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 10px;
  font-family: var(--txt);
}

.titrepage {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--txt-color);
  font-weight: 500;
  margin-top: 70px;
  margin-left: 7%;
  margin-bottom: 30px;
  z-index: 1;
}

//Carrousel d'images
.carrousel {
  position: relative;
  height: 550px;
  width: 100%;
  background-color: white;
  padding-top: 60px;
  

  .lien-art {
    top: 5%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
      > a {
        color: var(--peach); 
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        padding-right: 65px;
      }
  }
}

.swiper {
  width: 100%;
  height: 415px;
  > .swiper-scrollbar {
    background-color: var(--bg);
    padding: 2px 0;
    height: auto;
    border-radius: 0%;
    .swiper-scrollbar-drag {
      background-color: var(--peach);
      max-width: 150px;
      height: 3px;
      border-radius: 0%;
    }
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-bottom: 30px;

  > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

//Remerciement

.merci {
  margin-top: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
   .txt {
     width: 70%;
     height: auto;
     z-index: 1;
     padding-left: 5%;
     > h1 {
      font-family: var(--title);
      font-size: 50px;
      font-style: italic;
      font-weight: 200;
      text-transform: uppercase;
      color: var(--dark-green);
      }

      > p {
      font-size: 23px;
      color: var(--txt-color);
      }
    }

  .box {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 32px;
    transform: translateY(41%);
  }

  .triangle.one {
    position: relative;
    width: 0;
    height: 0;
    border-top: 430px solid transparent;
    border-right: 150vw solid var(--mustard);
    opacity: 0.5;
    transform: translate(-30%, -0%);
  }
  .triangle.two {
    position: relative;
    width: 0;
    height: 0;
    border-top: 300px solid transparent;
    border-right: 150vw solid var(--mocha);
    opacity: 0.5;
    transform: translate(-20%, -300px);

  }
  
  .triangle.twe {
    position: relative;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-right: 150vw solid var(--peach);
    opacity: 0.5;
    transform: translate(-10%, -500px);
  }
}

.footer {
  width: 100%;
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-green);
  color: white;
  font-family: var(--txt);
  .menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    > li {
      font-size: 15px;
      padding: 5px 0;
    }
    
    > li, a {
        text-decoration: none; 
        color: var(--txt);       
    }
  }

  .two {
    align-items: flex-end;
  }
}

//breakpoints
@media screen and (max-width: 576px) { 
  .swiper {
    > .swiper-scrollbar {
        .swiper-scrollbar-drag {
          height: 10px;
        }
    }
  }

  .carrousel {
    .lien-art {
      justify-content: center;
      > a {
        padding-right: 0;
      }
    }
  }
  
  .merci {
    justify-content: center;
    .txt {
      padding: 0;
      width: 80%;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
    li {
      text-align: center;
    }
  }
}