@import "_biographie.css";
@import "_contact.css";

* { box-sizing: border-box;}

 :root {
	 --bg: #f9f6f2;
	 --light-green: #babdb2;
	 --dark-green: #9ba59c;
	 --lime: #c9e0b9;
	 --mustard: #e2d9ba;
	 --peach: #f5cdb3;
	 --mocha: #edd8bd;
	 --beige: #f7ebdb;
	 --bleu: #88b6b7;
	 --txt-color: #525252;
	 --title: 'Playfair Display', serif;
	 --txt: 'Montserrat', sans-serif;
}
 html, body {
	 background-color: var(--bg);
	 width: 100%;
	 margin: 0;
	 padding: 0;
}
 .hide {
	 display: none;
}
 .nav {
	 float: left;
	 padding: 10px 20px;
	 width: 100%;
	 top: 0;
	 min-width: 700px;
	 height: 90px;
	 position: fixed;
	 z-index: 5;
	 background-color: var(--bg);
	 box-shadow: 0 10px rgba(255, 255, 255, 0.4);
	 display: flex;
	 justify-content: space-between;
}
 .nav .logo {
	 margin-left: 50px;
	 margin-right: 40px;
	 padding: 0;
}
 .nav .logo img {
	 height: 70px;
	 margin: 0;
	 padding: 0 20px;
	 display: block;
}
 .nav .menu a {
	 padding: 10px 20px;
	 text-decoration: none;
	 color: var(--txt);
	 width: fit-content;
}
 .nav .menu {
	 font-family: var(--txt);
	 display: flex;
	 justify-content: space-between;
	 max-width: 70%;
	 margin-top: 15px;
	 margin-right: 100px;
}
 .nav .menu .coeur {
	 width: fit-content;
	 padding: 10px 20px;
	 font-size: 15px;
	 margin-right: 0px;
}
 .nav .menu .icon {
	 position: absolute;
	 top: 10px;
	 right: 80px;
	 display: none;
	 color: var(--dark-green);
	 font-size: 20px;
	 padding: 20px 20px;
}
 .nav .menu .icon p {
	 padding: 0;
	 margin: 0;
}
 .bios, .oeuvres  {
	 background-color: var(--bg);
	 width: fit-content;
	 filter: drop-shadow(0 0 0.1rem #5252526a);
	 margin: auto 0;
	 padding: 10px 0;
	 display: grid;
	 position: absolute;
	 visibility: hidden;
	 transform: translateY(45px);
}
.oeuvres {
	transform: translate(80%, 45px);
}

 .bios.hover {
	 visibility: visible;
}
.oeuvres.hover {
	visibility: visible;
}
 .bios.hover a:hover, 
 .oeuvres.hover a:hover {
	 color: var(--bleu);
}

.biographie, .oeuvres-menu {
	cursor: pointer;
}

 @media screen and (max-width: 992px) {
	 .bios {
		 transform: translate(0);
	}
	.oeuvres {
		transform: translate(0, 0);
	}
	 .nav {
		 height: auto;
		 flex-direction: column;
	}
	 .nav .menu {
		 display: block;
		 padding: 0;
		 margin: 0;
	}
	 .nav .menu a {
		 display: none;
	}
	 .nav .menu .icon {
		 display: block;
	}
	 .nav .menu .coeur {
		 position: absolute;
		 margin-left: auto;
		 margin-right: 0;
		 margin-top: 25px;
		 top: 0;
		 right: 160px;
	}
	 .nav .menu.responsive a {
		 display: block;
		 float: none;
		 padding: 10px 20px;
	}
	 .nav .menu.responsive .menu {
		 margin-top: 60px;
		 display: block;
	}
}
 @media screen and (max-width: 576px) {
	 .nav .menu .icon {
		margin-right: 55px;
	}
	 .nav .menu .coeur {
		margin-right: 20px;
	}
}
 .header {
	height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 90px;
	z-index: 1;
}
 .header > .txt {
	position: absolute;
	bottom: 30px;
	left: 110px;
	z-index: 1;
	color: var(--txt-color);
}
 .header > .txt > h5 {
	font-size: 40px;
	font-family: var(--txt);
	font-weight: 200;
	font-style: italic;
	text-transform: uppercase;
	transform: translateY(150%);
}
 .header > .txt > h1 {
	font-size: 75px;
	font-family: var(--title);
	font-weight: 400;
	text-transform: uppercase;
}
.header > .img {
	width: 100%;
	height: 100%;
	position: relative;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
}
.header > .img.accueil {
	background-image: linear-gradient(45deg, #f9f6f2, #f9f6f200), url('./image/hubert-emerence-louest-canadien.jpg');
}
.header > .img.bio-eme {
	background-image: linear-gradient(45deg, #f9f6f2, #f9f6f200), url('image/enchantement.jpg');
}
.header > .img.bio-hubert {
	background-image: linear-gradient(45deg, #f9f6f2, #f9f6f200), url('./image/hubert-la-force-de-la-nature.jpg');
}
.header > .img.contact {
	background-image: linear-gradient(45deg, #f9f6f2, #f9f6f200), url('./image/hubert-leger-maison-de-grand-mere.jpeg');
}

 .main {
	 background-color: var(--bg);
	 width: 100%;
	 height: auto;
	 position: relative;
	 padding-top: 10px;
	 font-family: var(--txt);
}
 .titrepage {
	 position: relative;
	 font-size: 15px;
	 text-transform: uppercase;
	 color: var(--txt-color);
	 font-weight: 500;
	 margin-top: 70px;
	 margin-left: 7%;
	 margin-bottom: 30px;
	 z-index: 1;
}
 .carrousel {
	 position: relative;
	 height: 550px;
	 width: 100%;
	 background-color: white;
	 padding-top: 60px;
}
 .carrousel .lien-art {
	 top: 5%;
	 display: flex;
	 flex-direction: row-reverse;
	 position: relative;
}
 .carrousel .lien-art > a {
	 color: var(--peach);
	 text-decoration: none;
	 font-weight: 500;
	 font-size: 20px;
	 text-transform: uppercase;
	 padding-right: 65px;
}
 .swiper {
	 width: 100%;
	 height: 415px;
}
 .swiper > .swiper-scrollbar {
	 background-color: var(--bg);
	 padding: 2px 0;
	 height: auto;
	 border-radius: 0%;
}
 .swiper > .swiper-scrollbar .swiper-scrollbar-drag {
	 background-color: var(--peach);
	 max-width: 150px;
	 height: 3px;
	 border-radius: 0%;
}
 .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	width: auto !important;
	 
}
 .swiper-slide > img {
	 max-height: 100%;
	 max-width: 100%;
	 object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
	margin: 0 80px;
	color: white !important;
	filter: drop-shadow(0 1mm 0.1em rgba(0, 0, 0, 0.486)) !important;
}
.merci-titre {
	font-family: var(--title);
	font-size: 50px;
	font-style: italic;
	font-weight: 200;
	text-transform: uppercase;
	color: var(--dark-green);
	transform: translateY(150%);
	padding-left: 10%;
	width: fit-content;
}
@media screen and (max-width: 1200px) {
	.merci-titre {
		width: 100%;
		text-align: center;
		transform: translateY(0);
		padding-left: 0;
	}
}
 .merci {
	 margin-top: 10px;
	 width: 100%;
	 display: flex;
	 position: relative;
	 align-items: center;
}
 .merci > .txt {
	 height: auto;
	 width: 100%;
	 z-index: 1;
	 padding-left: 10%;
	 margin-bottom: 40px;
	 display: grid;
	 justify-items: center;
	 align-items: center;
	 grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
	.merci > .txt {
		grid-template-columns: 1fr;
		padding: 0 5%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.merci > .txt {
		padding-left: 0;
	}
}
.photo-trish {
	background-image: url("./image/hubert-03.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 350px;
	padding-bottom: 455px;
	margin: 20px;
	filter: grayscale(100%);
}
.photo-trish:hover {
	animation: color 1s;
}
@keyframes color {
	from {filter: grayscale(100%);}
	to {filter: grayscale(0%);}
}

.photo-trish:hover {
	filter: grayscale(0);
}
 .merci .txt > p {
	 font-size: 15px;
	 color: var(--txt-color);
}
 .footer {
	 width: 100%;
	 padding: 50px 50px;
	 display: flex;
	 align-items: center;
	 background-color: var(--dark-green);
	 color: white;
	 font-family: var(--txt);
	 position: relative;
}

 .footer > a {
	 text-decoration: none;
	 color: var(--txt);
	 width: auto;
	 padding-left: 30px;

}

 @media screen and (max-width: 576px) {
	 .swiper > .swiper-scrollbar .swiper-scrollbar-drag {
		 height: 10px;
	}
	 .carrousel .lien-art {
		 justify-content: center;
	}
	 .carrousel .lien-art > a {
		 padding-right: 0;
	}
	 .merci {
		 justify-content: center;
	}
	 .merci .txt {
		 padding: 0;
		 width: 80%;
	}
}
 @media screen and (max-width: 576px) {
	 .footer {
		flex-direction: column;
	}
	 .footer a {
		 width: 100%;
		 text-align: center;
		 padding: 0;
	}
}
 